/*
 *
 *  RehabApp_Style.uss
 *  AR Physical Rehabilitation
 *
 */

VisualElement {}

.nav-active {
    border-bottom-width: 2px;
    border-bottom-color: rgb(255, 200, 0);
    /* or whatever active indicator style fits your design */
}

.panel {
/*     position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    background-color: rgb(252, 248, 253);
}