/*
 *
 *  RehabApp_Style.uss
 *  AR Physical Rehabilitation
 *
 */

VisualElement {}

.nav-active {
    border-bottom-width: 2px;
    border-bottom-color: rgb(255, 200, 0);
    /* or whatever active indicator style fits your design */
}

.panel {
/*     position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    background-color: rgb(252, 248, 253);
}

.expand-scroll .unity-scroll-view__content-container {
    flex-grow: 1;
    justify-content: space-around;
}

.btn-tint {
    transition-duration: 0.2s;
    transition-property: opacity;
}

.btn-tint:hover {
    opacity: 0.8; 
}

.btn-tint:active {
    opacity: 0.5;
}